CLI_BRAND_SLUG=devsprouts
CLI_BRAND_NAME=Devsprouts
CLI_BIN_NAME=devsprouts
CLI_CONFIG_DIR_NAME=devsprouts
CLI_PACKAGE_SCOPE=@dev-sprouts
CLI_PACKAGE_NAME=devsprouts-cli
CLI_PACKAGE_REGISTRY=https://npm.pkg.github.com
CLI_INSTALL_REPO=Dev-Sprouts/devsprouts-cli-scripts
CLI_INSTALL_REF=v0.1.59
