CLI_BRAND_SLUG=devsprouts-admin
CLI_BRAND_NAME=Devsprouts Admin
CLI_BIN_NAME=devsprouts-admin
CLI_CONFIG_DIR_NAME=devsprouts-admin
CLI_PACKAGE_SCOPE=@devsprouts
CLI_PACKAGE_NAME=devsprouts-admin-cli
CLI_PACKAGE_REGISTRY=https://npm.pkg.github.com
CLI_INSTALL_REPO=Dev-Sprouts/devsprouts-cli-scripts
CLI_INSTALL_REF=v0.1.61
CLI_INSTALL_SCRIPT_DIR=admin
